

@import url("https://fonts.googleapis.com/css?family=Mulish");

.link{
  color: white;
  font-weight: 600;
  margin-top: 10px;
}

.errorLogin {
  color: #e9b425;
  font-size: 14px;
}

.titleLogin h2{
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  margin-right: 300px;
  color:white;
}

.formsLogin {
  display: flex;
}

.textsLogin {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 27vw;
  margin-bottom: 150px;
}

.mainLogin .formsLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.mainLogin {
  font-family: "mulish", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
