h1 {
  font-style: Regular;
  font-size: 60px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
}

.Imagens {
  background-image: url('./components/imgs/Home.png');
  text-align:center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 100vh;
  float: right;
}



/* * {
 font-family: @import{https://fonts.googleapis.com/css?family=Mulish};
} */
