

.container {
  display: flex;
}

.Imagens {
  background-image: url('./components/imgs/Home.png');
  background-repeat: no-repeat;
  text-align:center;
  width: 50vw;
  height: 100vh;
}


/* * {
 font-family: @import{https://fonts.googleapis.com/css?family=Mulish};
} */
