

.container {
  display: flex;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  flex-direction: column;
}

.Imagens {
  background-image: url('./components/imgs/Home.png');
  text-align:center;
  width: 50vw;
  height: 100vh;
}


/* * {
 font-family: @import{https://fonts.googleapis.com/css?family=Mulish};
} */
