body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: linear-gradient(to bottom, #33383d, #1c1d20);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
